


/////////////
//   ROOT  //
/////////////


.__x-glass {
    border: none;
    box-shadow: 
        0 1.3pt 2.3pt rgba($primary-dark, 0.7),    
        0 1.3pt 1.6pt rgba($primary-dark, 0.3) inset,
        0 -0.9pt 1.9pt rgba($primary-dark, 0.4) inset;  
    color: rgba($primary-xdark, 0.66);
    text-shadow: 0 0.3pt 1.3pt rgba(0, 0, 0, 0.3);
    border-radius: 6pt;
}

.x-glass {
    @extend .__x-glass;
    background-color: rgba($primary, 1.0);
}
.x-glass--int:hover {
    background-color: mix($primary, $primary-dark, 88%);
} 
.x-glass--int:active {
    background-color: rgba($primary-dark, 1.0);
    color: rgba(255, 255, 255, 0.8);
}


.x-glass-lite {
    @extend .__x-glass;
    background-color: none;
}