


/////////////
// COLOURS //
/////////////

$primary: #eff7ff;
$primary-dark: #6486a8;
$primary-xdark: #1f3953;
$shadow-alpha: 0.33;



/////////////
//   TAGS  //
/////////////

a,
a:hover {
    color: inherit;
    text-decoration: inherit;
    outline: inherit;
}



//////////////
//  EFFECTS //
//////////////

@import "./effects/glass";



//////////////
//COMPONENTS//
//////////////

@import "./components/accordion";
@import "./components/btn";
@import "./components/dropdown";
